/*  Reset inicial  */
* {
    margin: 0;
    padding: 0;

}

/*           Mixin    */

@mixin fuente1($paddTop:20px, $alg:center, $fontZ:80px) {
    font-family: 'Times New Roman', Times, serif;
    padding-top: $paddTop;
    text-align: $alg;
    font-size: $fontZ;

}


$paletaColores: ("transparencia": #3026222c, "fondo":#f8ccbc);


body {
    background-image: url(/fotos/Fondo1.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
     /* Margin bottom by footer height */
     margin-bottom: 60px;
     
}
    /*      Nav      */

    nav {    
        
        

        a{
            
            &:hover {
            background-color: rgb(167, 121, 141);
            color: #272727;
            }
        }

        
    }

    .backColor {
        background-color: #3026222c !important;
    }

    .separador{
        @include fuente1(20,center,80px);
        background-color: #3026222c;       
        padding: 50px;
        

    }

    .textoEnFoto{
        display: block;
        padding-top: 80%;
        opacity: 50%;
        color:white;    
    }
    
    .textoEnFoto2 {
        display: block;
        opacity: 90%;
    }

    /*      Footer      */

    html {
        position: relative;
        min-height: 100%;
    }

   

    .footer {
        position: absolute;
        bottom: 0;
        
        
        @extend .backColor;
    }

    a.nav-link.active {
        color: #000000;

    }







/*          Index            */

.indexBeuty {
    
    text-align: center;

}

h1 {
    @include fuente1(20px, center, 50px)
}



h1+p {
    animation: slideIn 1.7s;


}

a.nav-link.active.servicios-link {
    color: #ffffff;
}



// Conocenos  

.separadorConocenos {
    
    // background-color: #3026222c;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: auto;
    a{
        display:block;
        @include fuente1(20, center, 30px);
    }


}

.botonConocenos{
border-radius: 50px;
background-color: #c89c8c;
color: #fff;
border-color: #c89c8c;

}


/*        Hover sobre fotos        */

.no-padd {
    padding-right: 0;
    padding-left: 0;
}

.imagenAgrandada:hover {
    box-shadow: 0px 0px 15px white;
    z-index: 1001;
}

.imagenAgrandada {
    z-index: 1000;
    position: relative;
    transition: all 0.25s;
}


/*           Contacto         */
.centrar{
    align-content: center;
}

.form-group{
    margin-bottom: 8px;
}

.botonForm{
    margin-top: 10px;
}

.header {
    color: black;
    font-size: 27px;
    padding: 10px;
}




/*           Reservas-Turnero         */

.imgResponsive {
    max-width: 100%;
    height: auto;
}


.botonTurnos{
    padding-top: 10%;
    padding-bottom: 10%;
}

.botonTurnos1{
    border-radius: 50px;
    background-color: #c89c8c;
    color: #fff;
    border-color: #c89c8c;
}




  /*           Preguntas lado izquierdo     */

.list-group{
      margin-top: 15px;
  }
.transparente{
      background-color: #3026222c;
      color: black;
      margin: 3px;
  }

.list-group-item-danger.list-group-item-action.active{
    background-color: #3026222c;
    border-color: #3026222c;
    color: white;
}
   
  /*           Preguntas lado derecho   */

.accordion{
    
    margin-top: 15px;
}

.accordion-button.collapsed{
    
    color: black;
    background-color: #c89c8cc9;
    
    
}

.accordion-body{
    background-color: #f8ccbc;
    color: black;
    border-color: #af9388;
}


/*           Mapa     */
.textoMap{
    margin: 5%;
}

.textoMapIzquierda{
    position: relative;
    text-align: end;
    align-content: center;
    
}




.textoMapDerecha{
    position: relative;
    text-align: start;
    align-content: center;
}

.textoMapDerecha div h5{
     position: relative;
     text-align: start;
     align-content: center;
     margin: 0%;
     padding: 0%;
}


.mapaSection{
    
    margin: auto;
    max-height: 350px;
    margin-bottom: 50px;
}
.mapaSection iframe{
    margin-top: 50px;
    
    
     max-height: 350px;
}

.mapaDistancia{
    margin-bottom: 3%;
}

/*          Segundo carrusel     */

.seccionCarrusel{
    opacity: 100%;
    max-height: 500px;
    
   margin: 25px;

}
.tamañoDefotosEnCarrusel{
     opacity: 100%;
     max-height: 500px;
     
     margin: auto;
}

/*           media queries  + keyframes     */



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        position: relative;
        margin-left: -150vw;
    }

    50% {
        position: relative;
        margin-left: -150vw;
    }

    100% {
        position: relative;
        margin-left: initial;
    }
}